/* MODAL STYLING */

#eventDialog {
  padding: 0;
}

form {
  border: solid 1px black;
}

/* CALENDAR STYLING */

.day {
  color: #696868;
}

.weekend {
  color: #7cc0c9;
}

.lastMonthDay {
  color: #839395;
}

#currentDay {
  color: #26b9cc;
}

/* FLEXBOX STYLING */

body,
main {
  display: flex;
}

@media all and (max-width: 500px) {
  body {
    flex-direction: column;
  }
}
